@model ASP_NET_Core_Web_Development_course.Models.ProductModel
@{
    var s = Model.Name;
    var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
}


<div class="card" style="width: 18rem;">
    <img src="https://loremflickr.com/g/150/150/@firstWord?lock=@Model.Id" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Html.DisplayFor(m => Model.price)</p>
        <p class="card-text">@Model.Description</p>
        <a href="/Product/ShowDetails/@Model.Id" class="btn btn-primary">Show details</a>
        <a href="/Product/Edit/@Model.Id" class="btn btn-warning">Edit</a>
        <a href="/Product/Delete/@Model.Id" class="btn btn-danger">Delete</a>
        <!-- Button trigger modal -->
        <button value="@Model.Id" type="button" class="btn btn-primary edit-product-button" data-toggle="modal" data-target="#editModal">
            Modal edit
        </button>
        <button value="@Model.Id" type="button" class="btn btn-primary details-product-button" data-toggle="modal" data-target="#detailsModal">
            Moodal details
        </button>
    </div>
</div>