@model IEnumerable<CRUD_App_Cars_Without_Auth.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cylinders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Displacement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horsepower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acceleration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MPG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cylinders)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Displacement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horsepower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acceleration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
